<form class="row g-0 d-flex align-items-center vertical-center">
  <app-edit-header></app-edit-header>
  <div class="mt-3">
    <ul class="rate-area">
      <input *ngIf="getRate() >= 1" type="radio" id="1-star" name="crating" value="1" aria-required="true">
      <label *ngIf="getRate() >= 1" for="1-star">1 star</label>
      <input *ngIf="getRate() >= 2" type="radio" id="2-star" name="crating" value="2">
      <label *ngIf="getRate() >= 2" for="2-star">2 stars</label>
      <input *ngIf="getRate() >= 3" type="radio" id="3-star" name="crating" value="3">
      <label *ngIf="getRate() >= 3" for="3-star">3 stars</label>
      <input *ngIf="getRate() >= 4" type="radio" id="4-star" name="crating" value="4">
      <label *ngIf="getRate() >= 4" for="4-star">4 stars</label>
      <input *ngIf="getRate() >= 5" type="radio" id="5-star" name="crating" value="5">
      <label *ngIf="getRate() >= 5" for="5-star">5 stars</label>
      <input *ngIf="getRate() >= 6" type="radio" id="6-star" name="crating" value="6">
      <label *ngIf="getRate() >= 6" for="6-star">6 stars</label>
      <input *ngIf="getRate() >= 7" type="radio" id="7-star" name="crating" value="7">
      <label *ngIf="getRate() >= 7" for="7-star">7 stars</label>
      <input *ngIf="getRate() >= 8" type="radio" id="8-star" name="crating" value="8">
      <label *ngIf="getRate() >= 8" for="8-star">8 stars</label>
      <input *ngIf="getRate() >= 9" type="radio" id="9-star" name="crating" value="9">
      <label *ngIf="getRate() >= 9" for="9-star">9 stars</label>
      <input *ngIf="getRate() >= 10" type="radio" id="10-star" name="crating" value="10">
      <label *ngIf="getRate() >= 10" for="10-star">10 stars</label>
    </ul>
  </div>
  <div class="col-3 mt-2" style="margin-left: 0px;">
    <button type="button" class="btn fw-bold fs-5 py-1 mt-3"
      style="background-color: #1350b4; color: white; margin-left: 30px;">OK<i class="bi bi-check2 ms-2"></i></button>
  </div>
</form>