<div class="d-flex flex-column flex-shrink-0 p-3 bg-white  vh-100  float-end shadow"
  style="max-width: 286px; min-width: 286px;">
  <h5 class=" mt-5 fw-bold text-center" style="font-size: 14px;">Question</h5>
  <hr class="mt-0 pt-0">
  <h5 class=" fw-bold" style="font-size: 14px;">Settings</h5>
  <div  *ngIf="getQuestions()">
 <app-date-right-sidebar *ngIf="questionTypesValidationService.isDateQuestion(getEditedQuestion())">
  </app-date-right-sidebar>
  <app-email-right-sidebar *ngIf="questionTypesValidationService.isEmailQuestion(getEditedQuestion())">
  </app-email-right-sidebar>
  <app-multiple-choice-right-sidebar
    *ngIf="questionTypesValidationService.isMultipleChoiceQuestion(getEditedQuestion())">
  </app-multiple-choice-right-sidebar>
  <app-number-right-sidebar *ngIf="questionTypesValidationService.isNumberQuestion(getEditedQuestion())">
  </app-number-right-sidebar>
  <app-opinion-scale-right-sidebar *ngIf="questionTypesValidationService.isOpinionScaleQuestion(getEditedQuestion())">
  </app-opinion-scale-right-sidebar>
  <app-phone-number-right-sidebar *ngIf="questionTypesValidationService.isPhoneNumberQuestion(getEditedQuestion())">
  </app-phone-number-right-sidebar>
  <app-ranking-right-sidebar *ngIf="questionTypesValidationService.isRankingQuestion(getEditedQuestion())">
  </app-ranking-right-sidebar>
  <app-rating-right-sidebar *ngIf="questionTypesValidationService.isRatingQuestion(getEditedQuestion())">
  </app-rating-right-sidebar>
  <app-text-right-sidebar *ngIf="questionTypesValidationService.isTextQuestion(getEditedQuestion())">
  </app-text-right-sidebar>
  <app-website-right-sidebar *ngIf="questionTypesValidationService.isWebsiteQuestion(getEditedQuestion())">
  </app-website-right-sidebar>
  <app-yes-no-right-sidebar *ngIf="questionTypesValidationService.isYesNoQuestion(getEditedQuestion())">
  </app-yes-no-right-sidebar>
  </div>
 


</div>