<div class="row">
  <div class="col-12 d-flex align-items-center fs-6">
    <span class="fw-bold" style="color: #1350b4">{{getFilledQuestion().questionOrder}}</span>
    <i class="bi bi-arrow-bar-right me-2" style="color: #1350b4"></i>
    <h2 class="fs-4 m-0 d-grid">{{getFilledQuestion().title}}</h2>
    <span class="text-danger fw-bold ms-1" *ngIf="isRequired()">*</span>
  </div>
  <div class="col-12 my-2" style="margin-left: 33px;">
    <h3 class="border-0 fs-5 fw-normal">{{getFilledQuestion().description}}</h3>
  </div>
</div>