<div class="bg-light vh-100">
      <form [formGroup]="registerForm" (ngSubmit)="register() "
    class="row g-3 container position-absolute top-50 start-50 translate-middle needs-validation"
    style="width: 100%; max-width: 350px">
    <a class="text-decoration-none link-dark text-center" style="font-weight: 700; font-size: 28px;" href="">ReForm</a>
    <h1 class="h5 mt-3 mb-3 px-0 fw-normal text-center">Get started!<br>Create a form now.</h1>

    <div class="col-12">
      <label for="inputFirstName" class="form-label">First Name <span class="fw-bolder text-danger">*</span></label>
      <input formControlName="firstName" type="text" class="form-control" style="font-size: 14px;" id="inputFirstName"
        placeholder="First Name">
      <small class="help-block text-danger d-flex align-items-center mt-1" *ngIf="registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched">
        <svg class="me-1" xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px"
          fill="#dc3545">
          <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
        </svg>
        First name is required
      </small>
      <small class="help-block text-danger d-flex align-items-center mt-1" *ngIf="registerForm.get('firstName').hasError('minlength') && registerForm.get('firstName').touched">
        <svg class="me-1" xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px"
          fill="#dc3545">
          <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
        </svg>
        First name must min 2 characters
      </small>
    </div>

    <div class="col-12 mt-2">
      <label for="inputLastName" class="form-label">Last Name <span class="fw-bolder text-danger">*</span></label>
      <input formControlName="lastName" type="text" class="form-control" style="font-size: 14px;" id="inputLastName"
        placeholder="Last Name">
        <small class="help-block text-danger d-flex align-items-center mt-1" *ngIf="registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched">
          <svg class="me-1" xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px"
          fill="#dc3545">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
          </svg>
          Last name is required
        </small>
        <small class="help-block text-danger d-flex align-items-center mt-1" *ngIf="registerForm.get('lastName').hasError('minlength') && registerForm.get('lastName').touched">
          <svg class="me-1" xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px"
          fill="#dc3545">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
          </svg>
          Last name must min 2 characters
        </small>
      </div>
    <div class="col-12 mt-2">
      <label for="inputEmail" class="form-label">Email <span class="fw-bolder text-danger">*</span></label>
      <input formControlName="email" type="email" class="form-control" style="font-size: 14px;" id="inputEmail"
        placeholder="name@example.com">
        <small class="help-block text-danger d-flex align-items-center mt-1" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
          <svg class="me-1" xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px"
          fill="#dc3545">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
          </svg>
          Email is required!
        </small>
        <small class="help-block text-danger d-flex align-items-center mt-1" *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched">
          <svg class="me-1" xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px"
          fill="#dc3545">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
          </svg>
          Enter correct email
        </small>
      </div>
    <div class="col-12 mt-2">
      <label for="inputPassword" class="form-label">Password <span class="fw-bolder text-danger">*</span></label>
      <input formControlName="password" type="password" class="form-control" style="font-size: 14px;" id="inputPassword"
        placeholder="Enter characters">
        <small class="help-block text-danger d-flex align-items-center mt-1" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
          <svg class="me-1" xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px"
          fill="#dc3545">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
          </svg>
          Password is required!
        </small>
        <small class="help-block text-danger d-flex align-items-center mt-1" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
          <svg class="me-1" xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px"
          fill="#dc3545">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
          </svg>
          Password must min 8 characters
        </small>
      </div>

    <div class="form-text pt-1 text-dark">Do you have an account? <span><a routerLink="/login" class="link-dark">Log
          in.</a></span>
    </div>


    <div class="d-grid mt-4">
      <button type="submit" class="btn btn-dark" [disabled]="!registerForm.valid">Create my ReForm account</button>
      
    </div>
    
  </form>

  
  </div>

