<div class="position-absolute top-50 start-50 translate-middle"
    style="width: 100%; max-width: 100%; height: 50px; max-height: 50px; ">
    <form [formGroup]="editedForm">
        <div class="mb-3" style="margin-left: 20%; margin-right: 20%;">
            <div class="form-group">
                <input type="text" id="name" formControlName="name" class="form-control-lg bg-transparent"
                    style="border: none; border-bottom: 2px solid black; border-radius: 0; width: 100%; max-width: 100%; height: 50px; max-height: 50px; " />
            </div>
        </div>
    </form>
    <button class="btn btn-dark float-end fs-5 d-flex align-items-center" [disabled]="!editedForm.valid" (click)="rename()"
    style="margin-left: 20%; margin-right: 20%; width: 153px; max-width: 153px;">
    <span class=" d-flex text-start justify-content-start">Edit</span>
    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" class="ms-5" height="24px"
        viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
        <rect fill="none" height="24" width="24" />
        <path d="M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z" />
    </svg>
</button>
</div>