
.radio-toolbar input[type="radio"] {
    display: none;
  }
  
  .radio-toolbar label {
    display: block;
    background-color: #e5ecf7;
    padding: 3px 10px;
    text-align: center;
    color: #0445af;
    font-size: 20px;
    border: 0.5px solid #5e87cc;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    max-width: 100px;
    height: 40px;
    max-height: 40px;
  }
  
  .radio-toolbar input[type="radio"]:checked+label {
    background-color: #0445af;
    color: #e6ecf7;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .yesno{
    border: 1px solid #94b0dd;
      background-color: white;
      color: #1350b4;
      font-size: 12px;
      width: 20px;
      max-width: 20px;
      height: 20px;
      max-height: 20px;
      margin-top: 2px;   
      display: inline-block;
      text-align: center;
  }