<form class="row g-0 d-flex align-items-center" style="width: 86%;" [formGroup]="formGroup" (ngSubmit)="submit()"
  *ngIf="isSameQuestion()">
  <app-fill-header></app-fill-header>
  <div class="radio-toolbar dlex mt-4" style="margin-left: 7px;">
    <div class="div1" *ngIf="getMinScale() == 0"><input type="radio" id="radio0" value="0"
        formControlName="opinionScale" (change)="setScale($event)">
      <label for="radio0">0</label>
    </div>
    <div class="div1"><input type="radio" id="radio1" value="1" formControlName="opinionScale"
        (change)="setScale($event)">
      <label for="radio1">1</label>
    </div>
    <div class="div1"><input type="radio" id="radio2" value="2" formControlName="opinionScale"
        (change)="setScale($event)">
      <label for="radio2">2</label>
    </div>
    <div class="div1"> <input type="radio" id="radio3" value="3" formControlName="opinionScale"
        (change)="setScale($event)">
      <label for="radio3">3</label>
    </div>
    <div class="div1"><input type="radio" id="radio4" value="4" formControlName="opinionScale"
        (change)="setScale($event)">
      <label for="radio4">4</label>
    </div>
    <div class="div1" *ngIf="getMaxScale() >= 5"> <input type="radio" id="radio5" value="5"
        formControlName="opinionScale" (change)="setScale($event)">
      <label for="radio5">5</label>
    </div>
    <div class="div1" *ngIf="getMaxScale() >= 6"><input type="radio" id="radio6" value="6"
        formControlName="opinionScale" (change)="setScale($event)">
      <label for="radio6">6</label>
    </div>
    <div class="div1" *ngIf="getMaxScale() >= 7"><input type="radio" id="radio7" value="7"
        formControlName="opinionScale" (change)="setScale($event)">
      <label for="radio7">7</label>
    </div>
    <div class="div1" *ngIf="getMaxScale() >= 8"> <input type="radio" id="radio8" value="8"
        formControlName="opinionScale" (change)="setScale($event)">
      <label for="radio8">8</label>
    </div>
    <div class="div1" *ngIf="getMaxScale() >= 9"> <input type="radio" id="radio9" value="9"
        formControlName="opinionScale" (change)="setScale($event)">
      <label for="radio9">9</label>
    </div>
    <div class="div1" *ngIf="getMaxScale() == 10"><input type="radio" id="radio10" value="10"
        formControlName="opinionScale" (change)="setScale($event)">
      <label for="radio10" class="px-1">10</label>
    </div>
  </div>
  <div class="row" style="color: #0445af; width: 90%; margin-left: 7px; padding: 1rem;">
    <div class="col-4 text-start">
      {{getBeginningLabel()}}
    </div>

    <div class="col-4 text-center pe-0">
      {{getMiddleLabel()}}
    </div>

    <div class="col-4 text-end pe-0">
      {{getEndLabel()}}
    </div>
  </div>
  <div class="mt-4 me-2 d-flex align-items-center" style="margin-left: 32px; width: fit-content;">
    <button type="button" class="btn fs-5 py-1 " [disabled]="!formGroup.valid"
      style="border-color: #1350b4; color: #1350b4;" (click)="reset()">Reset<i
        class="bi bi-x-lg fw-bold ms-2"></i></button>
  </div>
  <div class="mt-4 d-flex align-items-center" style="width: fit-content;" *ngIf="!isLastQuestion()">
    <button type="submit" class="btn fw-bold fs-5 py-1" [disabled]="!formGroup.valid"
      style="background-color: #1350b4; color: white;">OK<i class="bi bi-check2 ms-2"></i></button>
    <small class="ms-3">Press <span class="fw-bold">'OK'</span> to save your response.</small>
  </div>
  <div class="mt-4 d-flex align-items-center" style="width: fit-content;" *ngIf="isLastQuestion()">
    <button type="submit" class="btn fw-bold fs-5 py-1" [disabled]="!formGroup.valid"
      style="background-color: #1350b4; color: white;">Submit<i class="bi bi-check2 ms-2"></i></button>
    <small class="ms-3">Press <span class="fw-bold">'Submit'</span> to end the test.</small>
  </div>
</form>