<form class="row g-0 d-flex align-items-center vertical-center">
  <app-edit-header></app-edit-header>
  <div class="mt-3">
    <input type="date" formControlName="date"
      class="form-control fs-2 px-0 border-bottom border-primary rounded-0 bg-transparent  d-inline mb-1"
      style=" border: 0; outline: 0; margin-left: 32px; width: fit-content; color: #1350b4;">
  </div>
  <div class="col-3 mt-2" style="margin-left: 0px;">
    <button type="button" class="btn fw-bold fs-5 py-1 mt-3"
      style="background-color: #1350b4; color: white; margin-left: 30px;">OK<i class="bi bi-check2 ms-2"></i></button>
  </div>
</form>