<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="sign-out" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
        <path fill-rule="evenodd"
            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
    </symbol>
</svg>

<header class="fixed-top border-bottom">
    <div class="py-0 bg-white text-dark" style="height: 48px; max-height: 48px; width: 100%">
        <div class="container-fluid mx-3">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-between">
                <a routerLink="workspace"
                    class="text-center ms-4 fs-5 fw-bold link-dark text-decoration-none d-flex align-items-center position-absolute top-50 start-0 translate-middle-y">
                    ReForm</a>
                <div class="dropdown text-end me-4  position-absolute top-50 end-0 translate-middle-y">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                        id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle fs-3 me-2"></i>
                        <strong>{{getUserName()}}</strong>
                    </a>
                    <ul class="dropdown-menu mx-0 shadow mt-2" style=" border-radius: 8px;">


                        <li *ngIf="isAdmin()">
                            <a class="dropdown-item d-flex gap-2 align-items-center" routerLink="admin">
                                <i class="bi bi-boxes"></i>
                                Dashboard
                            </a>
                        </li>
                        <li *ngIf="isAdmin()">
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item dropdown-item-danger d-flex gap-2 align-items-center"
                                (click)="signOut()">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#sign-out" />
                                </svg>
                                Sign out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>