<form class="row g-0 d-flex align-items-center" style="width: 86%;" [formGroup]="formGroup" (ngSubmit)="submit()"
  *ngIf="isSameQuestion()">
  <app-fill-header></app-fill-header>
  <div class="radio-toolbar mt-3" style="margin-left: 32px;">
    <div class="align-items-center d-flex">
      <input type="radio" id="yes" value="true" formControlName="yesNo" (change)="setYesNo($event)">
      <label for="yes" class="me-2 text-start align-items-center d-flex">
        <label class="fw-bold px-0 me-2 rounded-0 d-flex align-items-center justify-content-center bg-white"
          style="width: 26px; height: 26px; font-size: 14px;">Y</label>Yes</label>
    </div>
    <div class="align-items-center d-flex mt-2">
      <input type="radio" id="no" value="false" formControlName="yesNo" (change)="setYesNo($event)">
      <label for="no" class="me-2 text-start align-items-center d-flex">
        <label class="fw-bold px-0 me-2 rounded-0 d-flex align-items-center justify-content-center bg-white"
          style="width: 26px; height: 26px; font-size: 14px;">N</label>No</label>
    </div>
  </div>
  <br />
  <div class="mt-4 me-2 d-flex align-items-center" style="margin-left: 32px; width: fit-content;">
    <button type="button" class="btn fs-5 py-1 " [disabled]="!formGroup.valid"
      style="border-color: #1350b4; color: #1350b4;" (click)="reset()">Reset<i
        class="bi bi-x-lg fw-bold ms-2"></i></button>
  </div>
  <div class="mt-4 d-flex align-items-center" style="width: fit-content;" *ngIf="!isLastQuestion()">
    <button type="button" class="btn fw-bold fs-5 py-1" [disabled]="!formGroup.valid"
      style="background-color: #1350b4; color: white;">OK<i class="bi bi-check2 ms-2"></i></button>
    <small class="ms-3">Press <span class="fw-bold">'OK'</span> to save your response.</small>
  </div>
  <div class="mt-4 d-flex align-items-center" style="width: fit-content;" *ngIf="isLastQuestion()">
    <button type="submit" class="btn fw-bold fs-5 py-1" style="background-color: #1350b4; color: white;">Submit<i
        class="bi bi-check2 ms-2"></i></button>
    <small class="ms-3">Press <span class="fw-bold">'Submit'</span> to end the test.</small>
  </div>
</form>